#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #ff0000;
    font-family: sans-serif;
}

p{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#weather-output {
    color:rgb(0, 204, 255);
    background-color: rgb(180, 41, 122);
}